/* The Seasons Font Integration */

/* Option 1: If using Adobe Fonts, uncomment the link in index.html and use this: */
/* The font-family name from Adobe Fonts is typically 'the-seasons' */

/* Option 2: If self-hosting the font files, use @font-face declarations below */
/* Place font files in public/fonts/ directory */

@font-face {
  font-family: 'The Seasons';
  src: url('/fonts/TheSeasons-Regular.woff2') format('woff2'),
       url('/fonts/TheSeasons-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('/fonts/TheSeasons-Bold.woff2') format('woff2'),
       url('/fonts/TheSeasons-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('/fonts/TheSeasons-Italic.woff2') format('woff2'),
       url('/fonts/TheSeasons-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

